<!-- BEGIN SIDEBAR MENU -->
<ul class="page-sidebar-menu   " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
    <li class="nav-item {{#if_eq selectedPage "users-list"}}active{{/if_eq}}">
        <a href="/users/list" class="nav-link">
            <i class="icon-users"></i>
            <span class="title">Users</span>
        </a>
    </li>
    <li class="nav-item {{#if_eq selectedPage "stores-list"}}active{{/if_eq}}">
        <a href="/stores/list" class="nav-link ">
            <i class="icon-drawer"></i>
            <span class="title">Stores</span>
        </a>
    </li>
    <li class="nav-item {{#if_eq selectedPage "orders-list"}}active{{/if_eq}}">
        <a href="/orders/list" class="nav-link ">
            <i class="icon-basket"></i>
            <span class="title">Orders</span>
        </a>
    </li>
    <li class="nav-item {{#if_eq selectedPage "orders-statistics"}}active{{/if_eq}}
        {{#if_eq selectedPage "payments-statistics"}}active{{/if_eq}}
        {{#if_eq selectedPage "shipping-statistics"}}active{{/if_eq}}
        {{#if_eq selectedPage "countries-statistics"}}active{{/if_eq}}">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-bar-chart"></i>
            <span class="title">Statistics</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item start {{#if_eq selectedPage "orders-statistics"}}active{{/if_eq}}">
                <a href="/statistics/orders" class="nav-link ">
                    <i class="icon-graph"></i>
                    <span class="title">Order values</span>
                </a>
            </li>
            <li class="nav-item {{#if_eq selectedPage "payments-statistics"}}active{{/if_eq}}">
                <a href="/statistics/payments" class="nav-link ">
                    <i class="icon-pie-chart"></i>
                    <span class="title">Payment types</span>
                </a>
            </li>
            <li class="nav-item {{#if_eq selectedPage "shipping-statistics"}}active{{/if_eq}}">
                <a href="/statistics/shipping" class="nav-link ">
                    <i class="icon-pie-chart"></i>
                    <span class="title">Shipping types</span>
                </a>
            </li>
            <li class="nav-item {{#if_eq selectedPage "countries-statistics"}}active{{/if_eq}}">
                <a href="/statistics/countries" class="nav-link ">
                    <i class="icon-bar-chart"></i>
                    <span class="title">Order countries</span>
                </a>
            </li>
            <li class="nav-item {{#if_eq selectedPage "monthly-orders-statistics"}}active{{/if_eq}}">
                <a href="/statistics/monthly-orders" class="nav-link ">
                    <i class="icon-bar-chart"></i>
                    <span class="title">Monthly total orders</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a href="/logout" class="nav-link ">
            <i class="icon-logout"></i>
            <span class="title">Logout</span>
        </a>
    </li>
</ul>
<!-- END SIDEBAR MENU -->